<h3 class='text-center'>Making a new Appointment</h3>
<div class='row'>
  <div class='col-md-12'>
    <%= form_for(@appointment, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <div class='form-group'>
      <div class='control-label col-md-1'>
        <%= f.label :Name %>
      </div>
      <div class='col-md-11'>
        <%= f.text_field :Name, class: 'form-control', placeholder: '', autofocus: true %>
      </div>
    </div>

    <div class='form-group'>
      <div class='control-label col-md-1'>
        <%= f.label :Last_name %>
      </div>
      <div class='col-md-11'>
        <%= f.text_field :Last_name, class: 'form-control', placeholder: '', autofocus: true %>
      </div>
    </div>

    <div class='form-group'>
      <div class='control-label col-md-1'>
        <%= f.label :Phone_number %>
      </div>
      <div class='col-md-11'>
        <%= f.text_field :Phone_number, class: 'form-control', placeholder: '', autofocus: true %>
      </div>
    </div>

    <div class='form-group'>
      <div class='control-label col-md-1'>
        <%= f.label :Date %>
      </div>
      <div class='col-md-11'>
        <%= f.text_field :Date, class: 'form-control', placeholder: '', autofocus: true %>
      </div>
    </div>

    <div class='form-group'>
      <div class='control-label col-md-1'>
        <%= f.label :Time %>
      </div>
      <div class='col-md-11'>
        <%= f.text_field :Time, class: 'form-control', placeholder: '', autofocus: true %>
      </div>
    </div>

 

    <div class='form-group'>
      <div class='col-md-offset-1 col-md-11'>
        <%= f.submit class: 'btn btn-primary btn-lg pull-right' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
